<div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th class="td">ID</th>
        <th>Data</th>
        <th>Endereço</th>
        <th>Quantidade</th>
        <th>Total</th>
        <th></th>
      </tr>
      <ng-container *ngFor="let order of orders?.items">
        <tr>
          <td class="td">{{order?._id}}</td>
          <td>{{order?.date | date:'dd/MM/yyyy'}}</td>
          <td>{{order?.address}} {{order?.number}}</td>
          <td>{{order?.orderItems?.length}}</td>
          <td>{{order?.total | currency: 'BRL': 'symbol'}}</td>
          <td><a [routerLink]="['/profile/shopping', order?._id]">Ver Mais</a></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>