<h1>Mudar sua senha</h1>
<article>
  <section>
    <form>
      <section class="border-bot">
        <div class="form-group margin-ok">
          <label for="exampleInputEmail1">Senha atual</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite seu nome">
        </div>
        <div class="form-group margin-ok">
          <label for="exampleInputEmail1">Nova senha</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite seu email">
        </div>
        <div class="form-group margin-ok">
          <label for="exampleInputEmail1">Repita a nova senha</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Sexo" value="É HOMIIII KKKKKK" disabled>
        </div>
      </section>
      <div class="button-container">
        <button type="button" routerLinkActive="router-link-active" class="btn btn-block btn-info btn-lg">Cancelar</button>
        <button type="button" routerLinkActive="router-link-active" class="btn btn-block btn-info btn-lg">Salvar</button>
      </div>
    </form>
  </section>
</article>
