<div class="col-xs-12">
  <div class="menu-item-info-box">
    <span class="menu-item-info-box-icon">
      <img src="../../../assets/img/cartao.jpg"></span>

    <div class="menu-item-info-box-content">
      <span class="menu-item-info-box-text">Cartão de Crédito</span>
      <span class="menu-item-info-box-detail">Antony Luiz Cechinel</span>
      <span class="menu-item-info-box-detail">**** **** **** 6532</span>
      <span class="menu-item-info-box-detail">Expira em: 23/12/2030</span>
      <!-- /.info-box-content -->
    </div>
  </div>
</div>