<h1>Seus Pedidos</h1>

<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Últimos Pedidos</font>
      </font>
    </h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <mt-shopping-detail></mt-shopping-detail>
  <div class="box-footer clearfix">
    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Fazer novo pedido</font>
      </font>
    </a>
    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Ver todos os pedidos</font>
      </font>
    </a>
  </div>
</div>

