<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">NAVEGAÇÃO PRINCIPAL</li>
      <li>
        <a href="#">
          <i class="fa fa-user"></i> <span>Dados Pessoais</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['shopping']">
          <i class="fa fa-shopping-cart"></i> <span>Compras</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-credit-card"></i> <span>Formas de Pagamento</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </section>
</aside>