.main-sidebar,
.left-side {
    width: 300px;
    border-right: 1px solid #d2d6de;
}

li :hover{
    background-color: #d8d8d8 !important;
}

li:hover {
    color: #444444;
}

body{
    color: #444444;
}