.border-bot {
    padding-bottom: 20px;
    border-bottom: 1px solid #444444 !important;
}

.margin-ok{
    margin-top: 30px;
}

.btn-block {
    width: auto;
    margin-top: 30px;
}
.form-control {
    height: 40px;
}
.button-container {
    display: flex;
    /* Aplica flexbox ao elemento <div> */
    justify-content: flex-end;
    /* Alinha os botões à direita */
}

.button-container button {
    margin-left: 10px;
    /* Adiciona um espaço de 10 pixels entre os botões */
}