<div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Total</th>
      </tr>
      <ng-container *ngFor="let order of orders.items">
        <tr *ngFor="let item of order.orderItems">
          <td>{{order._id}}</td>
          <td>{{item.menu.name}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.menu.price | currency: 'BRL': 'symbol'}}</td>
          <td>{{total(item.menu.price, item.quantity) | currency: 'BRL': 'symbol'}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>


