<a href="detail-restaurant.html">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="restaurante.imagePath"/></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{restaurante.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{restaurante.rating}}</span>
      <span class="place-info-box-detail">{{restaurante.category}}</span>
      <span class="place-info-box-detail">{{restaurante.deliveryEstimate}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>